*{
    margin: 0;
    padding: 0;
}
.grid-container{
    display: grid;
    grid-template-columns: 0.1fr 0.8fr 0.1fr;
    background-color: lightblue;
    padding: 10px;
   gap: 5px;


}
.grid-item {
    background-color: ghostwhite;
    border: 1px solid black;
    padding: 20px;
    font-size:20px;
    font-family: Arial;
    text-align: center;
    height: 55vh;

}
.item1 {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: ghostwhite;
    border: 1px solid black;
    padding: 20px;
    font-size:20px;
    font-family: Arial;
    text-align: center;
    height: 10fr
}
.headerstyle {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    line-height: 25px;
    border-radius: 3px;

}
.header a.logo{
    font-size: 20px;
    font-weight: bold;
}
.header a:hover {
    background-color: black;
    color: red;
}
.footer {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: ghostwhite;
    border: 1px solid black;
    padding: calc(100% - 20px)
    font-size:10px;
    font-family: Arial;
    text-align: center;
    height: 10vh;
}
.side-item {
    height: 1fr;
    background-color: ghostwhite;
    border: 1px solid black;
    padding: 20px;
    font-size:20px;
    font-family: Arial;
    text-align: center;

}
@media only screen and (max-width: 768px) {
    /* phones */
    [class*="grid-item"]
    [class*="side-item"]
    [class*="footer"]
    width: 100%;

}
.active:hover {
    background-color: ghostwhite;
}

.logo {
    max-width: 50px;

}

.placeholder {
    max-width: 1000px;
}