*{
    margin: 0;
    padding: 0;
}
/* dit is de algemen achtergrond en grid container */
.grid-container{
    display: grid;
    grid-template-columns: 1fr ;
    background-color: #120f29;
    height: 100vh;
    background-image: url("images/pngtree-modern-double-color-futuristic-neon-background-image_351866.jpg");
    background-repeat: round;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-size: cover;
}

/* de text in het midden van het scherm is hier, margin voor center scherm samen met flex wrap */
.grid-item {
    z-index: 5;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    align-content: center;
    font-size:30px;
    font-family: Arial;
    text-align: center;
    text-decoration-color: white;
    height: 83vh;
    color: white;
    max-width: 50%;
    max-height: 50%;
}



/* Properties voor de header (Header.html), heeft een reference in de php bestanden.*/

.headerstyle {
    display: flex;
    align-items: center; /* midden van navbar verticaal*/
    justify-content: center; /* midden van navbar horizontaal*/
    background-color: #030617;
    text-align: center;
    height: 8vh;
    font-size: 20px;
    font-family: Arial;
    border-radius: 3px;
    color: white;
    opacity: 50%

}
/* text kleur van de header weer wit maken en opacity weer op 100%
verder een staat hier de on hovered*/
.headertext {
    color: white;
    opacity: 100%;
    align-items: center; /* midden van navbar verticaal*/
    justify-content: center; /* midden van navbar horizontaal*/
    font-size: 25px;
}
.headertext:hover{
    background-color: black;
    color: purple;
}


.header a:hover {
    background-color: black;
    color: red;
}

.footer {
    opacity: 50%;
    background-color: #030617;
    border: 1px solid black;
    align-items: center;
    align-content: center;
    height: 8.5vh;
    font-size: 20px;
    font-family: Arial;
    text-align: center;
    color: white;
}

@media only screen and (max-width: 768px) {
    /* phones */
    [class*="grid-item"],
    [class*="grid-container"],
    [class*="headerstyle"],
    [class*="footer"]
}

.logo {
    max-width: 90px;
    opacity: 100%;
    }



.placeholder {
    max-width: 1000px;
}


